html {
    box-sizing: border-box;
    font-family: 'Chivo', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

* {
    box-sizing: inherit;
    margin: 0;
}

/*------------------------------------------------------------*/
/*COLOURS-----------------------------------------------------*/
/*------------------------------------------------------------*/

:root {
    --main-bg-color: #171725;
    --bright-green: #54E6AF;
    --dark-grey: #2C433B;
    --medium-grey: #5A668A;
    --light-grey: #C2CBE5;
}

body {
    background-color: var(--main-bg-color);
}

/*------------------------------------------------------------*/
/*MAIN CONTAINER----------------------------------------------*/
/*------------------------------------------------------------*/

.outer-container {
    border: 1px solid white;
    width: 1275px;
    height: 640px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    border: 1px solid;
}

.main-container {
    width: 100%;
    height: 100%; 
    position: absolute;
    overflow: hidden;
    border: 1px solid;
}

.main-img {
    width: 888px;
    height: 640px;
    background-image: url('/resources/images/image-host-desktop.jpg');
    position: absolute;
    top: 0; right: 0;
}

/*------------------------------------------------------------*/
/*CONTENT CONTAINER-------------------------------------------*/
/*------------------------------------------------------------*/

.request-access{
    width: 723px;
    height: 509px;
    position: absolute;
    left: 0; bottom: 0;
    z-index: 100;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    border: 1px solid;
}

/*--------------------*/
/*TITLE---------------*/
/*--------------------*/

.title {
    grid-row: 5;
}

#title1, #title2 {
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    color: var(--bright-green);
    margin: 0;
}

#title2 {
    color: #fff !important;
}

/*--------------------*/
/*INSTRUCTIONS--------*/
/*--------------------*/

.instructions {
    width: 445px;
    height: 84px;
    line-height: 28px;
    color: #C2CBE5;
    grid-row: 7;
}

/*--------------------*/
/*EMAIL FIELD---------*/
/*--------------------*/

.form {
    display: flex;
    flex-direction: column;
    grid-row: 11;
}

.button {
    width: 427px;
    height: 56px;
    border-radius: 28px;
    background-color: var(--medium-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-field {
    height: 100%;
    width: 62%;
    background-color: transparent;
    border: none;

}

.access-button {
    width: 38%;
    height: 50px;
    border-radius: 28px;
    background-color: var(--bright-green);
    font-family: 'Chivo';
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--dark-grey);
    margin-right: 3px;
    border: none;
    transition: 0.2s;
}

.access-button:hover {
    background-color: #68ffc5;
    transition: 0.2s;
}

.access-button-mobile {
    display: none;
}

/*--------------------*/
/*SOCIAL--------------*/
/*--------------------*/

.social {
    width: 536px;
    grid-row: 16;
    display: flex;
    justify-content: space-between;
}

/*--------------------*/
/*POD LOGO------------*/
/*--------------------*/

.pod-logo {
    width: 134.85px;
    height: 56px;
    position: absolute;
    left: 0;
    top: -28px;
    z-index: 100;
}

.pod-logo img {
    width: 100%;
    height: auto;
}

/*--------------------*/
/*DOT PATTERN---------*/
/*--------------------*/

.dot-pattern {
    width: 232px;
    height: 104px;
    position: absolute;
    right: 0;
    bottom: -52px;
    z-index: 100;
}

.dot-pattern img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .outer-container {
        width: 768px;
        height: 1024px;
        margin: 0;
    }

    .main-container {
        top: 0; right: 0;
        margin: 0;
        width: 729px;
        height: 767px;
    }

    .main-img {
        width: 491px;
        height: 767px;
        background-image: url('/resources/images/image-host-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
    }

    .request-access{
        width: 635px;
        height: 509px;
        left: 0; bottom: 0;
    }

    #title1, #title2 {
        font-size: 48px;
        line-height: 56px;
    }

    .pod-logo {
        left: 39px; top: 50px;
    }

    .pod-logo img {
        width: 100%;
        height: auto;
    }

    .dot-pattern {
        left: 30px; bottom: 0;
    }
    
    .dot-pattern img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .outer-container {
        width: 375px;
        height: 667px;
        margin: auto;
    }

    .main-container {
        top: 0; left: 0;
        width: 375px;
        height: 667px;
        background-color: rgba(18, 23, 37, 1);

    }

    .main-img {
        width: 100%;
        height: 100%;
        background-image: url('/resources/images/image-host-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: 0;
        opacity: 0.1;
    }

    .request-access {
        width: 327px;
        height: 398px;
        top: 165px; left: 0; right: 0;
        margin: auto;
        background-color: transparent;
        justify-items: center;
        text-align: center;
    }

    .title {
        grid-column: 1;
        grid-row: 1;
        
    }

    #title1, #title2 {
        font-size: 26px;
        line-height: 38px;
    }

    .instructions {
        width: 327px;
        height: 100px;
        font-size: 15px;
        line-height: 25px;
        color: #C2CBE5;
        grid-row: 3;
    }

    /*--------------------*/
/*EMAIL FIELD---------*/
/*--------------------*/
    .form {
        width: 327px;
        height: 108px;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
    }
    .button {
        width: 100%;
        height: 46px;
        border-radius: 28px;
        background-color: var(--medium-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .email-field {
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
    }

    .access-button {
        display: none;}
        /*margin: auto;
        width: 38%;
        height: 50px;
        border-radius: 28px;
        background-color: var(--bright-green);
        font-family: 'Chivo';
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--dark-grey);
        margin-right: 3px;
        border: none;
        transition: 0.2s;
    }

    .access-button:hover {
        background-color: #68ffc5;
        transition: 0.2s;
    }*/

    .access-button-mobile {
        display: block;
        width: 327px;
        height: 46px;
        grid-row: 16;
        border-radius: 28px;
        background-color: var(--bright-green);
        font-family: 'Chivo';
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--dark-grey);
        margin-right: 3px;
        border: none;
        transition: 0.2s;
    }

    .access-button-mobile:hover {
        background-color: #68ffc5;
        transition: 0.2s;
    }

    .social {
        max-width: 315px;
        height: 17px;
        overflow: hidden;
        grid-row: 6;
    }

    .social img {
        width: 82%;
        height: auto;
    }

    .pod-logo {
        left: 0; right: 0; top: 62px;
        margin: auto;
    }

    .dot-pattern {
        display: none;
    }
}